# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Overdose/Overdose.sdf
Overdose/Overdose.sdf
Overdose/Overdose.v12.suo
Overdose/Debug/Overdose.exe
Overdose/Debug/Overdose.ilk
Overdose/Debug/Overdose.pdb
Overdose/Overdose.opensdf
Overdose/Overdose.sdf
*.sdf
Overdose/Overdose.v12.suo
/Overdose/Overdose/Overdose.aps
/Overdose/Overdose/Debug
